@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<form name="myForm" id="myForm">
<fieldset>
    <legend>My Form</legend>
    <button id="btnAdd">
        add</button>
    <div>
        First Name:<input data-val="true" data-val-required="A date is required." type="text"
            id="firstName" name="firstName">
        @*  <span data-valmsg-replace="false" data-valmsg-for="firstName" class="field-validation-valid">
            *</span>*@
    </div>
    <br>
    Last Name:
    <input type="text" name="lastName">
</fieldset>
<input type="submit">
</form>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            //validation - make sure this is included after jquery.validate.unobtrusive.js
            //unobtrusive validate plugin overrides all defaults, so override them again
            $('form').each(function () {
                OverrideUnobtrusiveSettings(this);
            });
            //in case someone calls $.validator.unobtrusive.parse, override it also
            var oldUnobtrusiveParse = $.validator.unobtrusive.parse;
            $.validator.unobtrusive.parse = function (selector) {
                oldUnobtrusiveParse(selector);
                $('form').each(function () {
                    OverrideUnobtrusiveSettings(this);
                });
            };
            //replace validation settings function
            function OverrideUnobtrusiveSettings(formElement) {
                var settngs = $.data(formElement, 'validator').settings;
                //standard qTip2 stuff copied from sample
                settngs.errorPlacement = function (error, element) {
                    // Set positioning based on the elements position in the form
                    var elem = $(element);


                    // Check we have a valid error message
                    if (!error.is(':empty')) {
                        // Apply the tooltip only if it isn't valid
                        elem.filter(':not(.valid)').qtip({
                            overwrite: false,
                            content: error,
                            position: {
                                my: 'center left',  // Position my top left...
                                at: 'center right', // at the bottom right of...
                                viewport: $(window)
                            },
                            show: {
                                event: false,
                                ready: true
                            },
                            hide: false,
                            style: {
                                classes: 'qtip-red' // Make it red... the classic error colour!
                            }
                        })
                        // If we have a tooltip on this element already, just update its content
                .qtip('option', 'content.text', error);
                    }

                    // If the error is empty, remove the qTip
                    else { elem.qtip('destroy'); }
                };

                settngs.success = $.noop;
            }

            $("#btnAdd").click(function () {
                var $input = '<input type="text" id="email" name="email" required />';
                $("fieldset").append($input);
                return false;
            });

            //            .find("#email").rules('add', {
            //                required: true
            //            });

            //                        $.validator.unobtrusive.parse($("#myForm"));

            //            var form = $("#myForm");
            //            form.removeData('validator');
            //            form.removeData('unobtrusiveValidation');
            //            $.validator.unobtrusive.parse(form);

        });
    </script>
}
